.box {
    border: 2px solid black;
    display: inline-block;
    padding: .25rem .25rem;
    border-radius: 0.5rem;
}
.theorem {
    background-color: #d9f7f7;
}
.def {
    background-color: #f7f7d9;
}
.example {
    background-color: #e8f7d9;
}
.warning {
    border-color: #ea9a9a;
}
