<!-- Optional additional links to insert for icons links -->

<a id="youtube-link"
   class="icon" title="YouTube" aria-label="YouTube"
   href="https://www.youtube.com/user/hophopkangaroo"
   target="_blank" rel="noopener noreferrer">
    {% include svg/youtube.svg %}
</a>

<a id="instagram-link"
   class="icon" title="Instagram" aria-label="Instagram"
   href="https://www.instagram.com/khang.aroo"
   target="_blank" rel="noopener noreferrer">
    {% include svg/instagram.svg %}
</a>

<a id="linkedin-link"
   class="icon" title="LinkedIn" aria-label="LinkedIn"
   href="https://www.linkedin.com/in/khangtong"
   target="_blank" rel="noopener noreferrer">
    {% include svg/linkedin.svg %}
</a>