<!-- Additional head bits without overriding original head -->

<meta property="og:image" content="/assets/img/khang-home.JPG" />

<!-- for mathjax support -->
{% if page.usemathjax %}
    <script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ["\\(", "\\)"]],
            processEscapes: true,
            macros: {
                R: '\\mathbb{R}',
                Q: '\\mathbb{Q}',
                C: '\\mathbb{C}',
                Z: '\\mathbb{Z}',
                N: '\\mathbb{N}',
                E: '\\mathbb{E}'
            }
        }
    }
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}